h1 {
   position: relative;
   text-align: center;
   color:blue
}
.button1 {
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    color:black;
    background-color: lightgrey;
    border: 2px;
    border-radius: 8px;
    box-shadow: 0 4px #999;
    margin: auto;
}
.review {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border: 3px;
    color:grey;
    background-color: #fffddb;
    width:420px;
}
.comment {
   background-color:yellow;
   font-size: 14px;
   height:200px;
   width:340px;
}

a { text-decoration: none; }
body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.button:hover {background-color: #45a049}
.button:active {
    background-color: #45a049;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}