<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <title>Building Permit Feedback</title>
</head>
<body>
<h1>Administrative Dashboard</h1>
<h2>Data</h2>
<button class="button1" onclick="location.href='/permitofficials'">List Building Permit Officials</button>
<button class="button1" onclick="location.href='/users'">List Users</button>
<button class="button1" onclick="location.href='/reviews'">List Reviews</button>
<button class="button1" onclick="location.href='/statistics'">Statistics</button>
<br>
<br>
<h2>Review input test</h2>
<button class="button1" onclick="location.href='/reviewinput'">Create a new review</button>
</body>
</html>