<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Permit Officials</title>
</head>
<body>
<h1>Admin Dashboard - Building Permit Officials</h1>
<br>
<center>
<table border="3" style="font-size: 14px; color:grey; background-color: white;">
  <tr>
    <th>Last Name</th>
    <th>title</th>
    <th>department</th>
    <th>city</th>
  </tr>
  {% for permitofficial in permitofficials %}
  <tr>
      <td>{{ permitofficial.last_name }}</td>
      <td>{{ permitofficial.title }}</td>
      <td>{{ permitofficial.department }}</td>
      <td>{{ permitofficial.city }}</td>
  </tr>
  {% endfor %}
</table>
</center>
</body>
</html>
