<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
        <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <title>Review input</title>
</head>
<body style="margin: auto;width: 50%;">
<br>
        <h1>Review input... </h1>


<form action='/postreview' method="post" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td><label for="permitofficial_id">Permit Official: .</label></td>
            <td><select id="permitofficial_id" name="permitOfficials">
                <option value ='LadyGaga'>Lady Gaga</option>
                <option value ='SimoneBile'>Simone Bile</option>
                <option value ='RolandGarros'>Roland Garros</option>
                <option value ='PeterPan'>Peter Pan</option>
            </select></td>
        </tr>
        <tr>
            <td><label for="permit_id">Permit ID:</label></td>
            <td><input id="permit_id" type="text" name="permit" style="color:red; width:8em; text-align:left;font-size: 0.8em;background-color:lightgrey;padding: 0.2em 0.2em;font-style: italic;" value="AP-67381" /></td>
        </tr>
    </table>
    <br>
    <table>
         <tr>
            <td><label for="helpfulness_id">helpfulness:</label></td>
            <td><input id="helpfulness_id" type="number" name="helpfulness" min="1" max="5" step="1" value="1"></td>
         </tr>
         <tr>
            <td><label for="consistency_id">Consistency:</label></td>
            <td><input id="consistency_id" type="number" name="consistency" min="1" max="5" step="1" value="1"></td>
         </tr>
         <tr>
            <td><label for="responsiveness_id">Responsiveness:</label></td>
            <td><input id="responsiveness_id" type="number" name="responsiveness" min="1" max="5" step="1" value="1"></td>
         </tr>
         <tr>
            <td><label for="cost_id">Cost:</label></td>
            <td><input id="cost_id" type="number" name="cost" min="1" max="5" step="1" value="1"></td>
         </tr>
    </table>
    <br>
    <label for="comment_id">Comment:</label><br>
    <textarea id="comment_id" name="comment" style="background-color:#fffddb;color:grey;font-size:14px;height:200px;width:320px;border-radius: 4px; padding: 6px 12px;margin: auto;">Enter comment up to 500 characters ....</textarea><br>
    <br>
    <input class="button1" type="submit" value="Submit">
    <input class="button1" type="button" value="Reset">
</form>


<script>
 const words = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape'];

        // Get the select DOM element
        const wordSelect = document.getElementById('wordSelect');

        // Function to load words into the select element
        function loadWordsIntoSelect(wordList, selectElement) {
            wordList.forEach(word => {
                // Create a new option element
                const option = document.createElement('option');
                // Set the value and text of the option element
                option.value = word;
                option.textContent = word;
                // Add the option to the select element
                selectElement.appendChild(option);
            });
        }

        // Load the words into the select element
        loadWordsIntoSelect(words, wordSelect);

</script>
<!--
 <script type="text/javascript"  src="./static/script.js"></script>
 -->
</body>
</html>