<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <title>Users List</title>
</head>
<body>
   <h1>List of users:</h1>
    <br>
   <center>
<table border="3" style="font-size: 16px; color:grey; background-color: white;">
  <tr>
    <th>First Name</th>
    <th>last Name</th>
    <th>Since</th>
    <th>Anonymous</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.created }}</td>
      <td style="text-align: center;">{{ user.is_anonymous }}</td>
  </tr>
  {% endfor %}
</table>
   </center>
</body>
</html>
